<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Crashlytics</string>
	<key>CFBundleIdentifier</key>
	<string>com.crashlytics.sdk.mac</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Crashlytics</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>2.2.5</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>macosx</string>
	</array>
	<key>CFBundleVersion</key>
	<string>39</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>MinimumOSVersion</key>
	<string>10.6</string>
</dict>
</plist>
